{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <title>zmx - session persistence for terminal sessions</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="zmx, session persistence, terminal, tool, linux">

    <link rel="stylesheet" href="https://pico.sh/syntax.css">
    <link rel="stylesheet" href="https://pico.sh/smol.css">
    <link rel="stylesheet" href="https://pico.sh/main.css">
  </head>

  <body>
    <div class="debug-grid"></div>
    <nav class="mk-nav">
      <div class="flex flex-wrap items-center justify-center gap-2" style="margin-right: 20px;">
        <a href="https://bower.sh/?tag=zmx" class="link-alt">
          blog
        </a>
        <a href="https://github.com/neurosnap/zmx" class="link-alt">
          src
        </a>
        <a href="https://web.libera.chat/gamja?autojoin=#pico.sh" class="link-alt">
          chat
        </a>
      </div>
    </nav>
    <div class="post-group" style="flex-direction: row;">
      <article class="md toc" style="padding-top: 40px;">
        {{.Data.TocHtml}}
      </article>

      <main class="post">
        <article class="md">
          {{.Data.Html}}
        </article>
      </main>

      <div class="toc"></div>
    </div>
  </body>
</html>
{{end}}
